@model Gunis.Kitchen.ViewModel.ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0 )
{
    <li class="nav-link">
        <a class="cartstatus" asp-controller="ShoppingCart">
            <span>
           <i class="fa fa-shopping-cart" style="color:white"></i>
            </span>
            <span class="cartstatus" id="cart-status">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
}