@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

     <section class="main-banner">
            <div class="container">
                <div class="banner-text">
                    <h2>We deliver the taste of life</h2>
                    <span class="semi-bold text-capitalize">Get it delivered right to your door.</span>
                    <form>
                        <input type="text" name="location" class="half-radius" placeholder="Find your favourite dish.">
                        <button type="submit" class="btn-default">Search<span></span></button>
                    </form>
                </div>
            </div>
        </section>

            <section class="sec-block" >
            <div class="fixed-bg bg1" ></div>
            <div class="container">
                <div class="promotion">
                    <h2 class="text-capitalize">Make Your first order and get <span>50% off</span></h2>
                    <span class="text-capitalize semi-bold">Get it delivered right to your door.</span>
                    <p>If you order food delivery from us for the first time then we have a gift <br>- 50% discount for you on the first order. You just need to register and <br> order your favorite food.</p>
                    <a href="" title="" class="btn-default">Order Products <span></span></a>
                </div>
            </div>
        </section>

